@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Playwrite+DE+Grund:wght@100..400&family=Oswald:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}

i {
  font-size: 1.2rem;
  font-weight: 700;
}
.screen {
  width: 100dvw;
  height: 100dvh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.play-ground {
  width: 500px;
  height: 100%;
  background: #020202;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-screen,
.end-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, .7);
  backdrop-filter: blur(15px);
}

.start-screen h2,
.end-screen h2 {
  color: #ededed;
  text-align: center;
  font-weight: bolder;
  font-size: max(3.5rem,min(10vw, 7rem));
  margin-bottom: 50px;
}

.icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 30px 80px;
}

.end-screen pre {
  font-size: max(16px,min(3vw,1.5rem));
  color: #ededed;
  font-weight: 500;
}

.end-screen h2 {
  color: #e0394a;
}

.hide {
  display: none;
}

.play-btn,
.back-btn,
.opt-btn,
.quit-btn,
.reset-btn,
.retry-btn {
  border: none;
  outline: none;
  font-weight: 600;
  font-size: max(14px,min(1vw,24px));
  padding: 10px 30px 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.start-screen .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.end-screen .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: max(5px,min(2vw,20px));
  margin-top: 50px;
}

.end-screen .buttons button {
  background-color: rgba(238, 236, 255, 0.2);
  backdrop-filter: blur(5px);
  padding: 10px 20px;
}

.character {
  background: royalblue /*#4169e3*/;
  position: absolute;
  bottom: 0;
}

.block {
  background: #4169e3;
  position: absolute;
  top: -150px;
}

.block, .character {
  width: 100px;
  height: 150px;
}

.right-btn,
.left-btn {
  width: 55px;
  height: 55px;
  background: rgba(40, 40, 40, 0.5);
  backdrop-filter: blur(5px);
  border: none;
  outline: none;
  position: fixed;
  bottom: 20%;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
  color: #eeecff;
  cursor: default;
}

.left-btn {
  left: 20px;
}

.right-btn {
  right: 20px;
}

.score {
  background: #111111;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1.03rem;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  color: #eeecff;
  left: 20px;
  padding: 7px 20px;
  box-shadow:  0 0 10px rgba(0, 0, 0, .2);
}

button {
  transition: background 300ms, box-shadow 200ms, scale 300ms, color 100ms;
  background: rgba(238, 236, 255, 0.1);
  border: none;
  backdrop-filter: blur(5px);
  color: #eeecff;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.2rem;
}

button:active {
  scale: 0.9;
}

.author-info {
  position: absolute;
  bottom: 10%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -10%);
  color: #eeecff;
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.author-info .author-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.author-info a {
  color: #f58c46;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  transition: all 300ms ease;
  font-family: "Playwrite DE Grund", cursive;
} 

.author-info p {
  font-size: 1rem;
}

.slider-box .name,
.color-box .name,
.toggle-box .name {
  font-size: 1rem;
  color: #eeecff;
  margin-bottom: 10px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 12px;
  background: linear-gradient(to right, #161616, #242424);
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(11, 11, 11, 0.5);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.color-box,
.slider-box,
.toggle-box {
  width: 100%;
}

.color-box .color-in {
  width: 100%;
  height: 40px;
  border: 2px solid rgba(17, 17, 17, 0.8);
  outline: none;
  padding: 0;
  cursor: pointer;
  appearance: none; /* remove default styles */
  background: transparent;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
}

.color-box .color-in::-webkit-color-swatch-wrapper {
  padding: 0;
}

.color-box .color-in::-webkit-color-swatch {
  border: none;
  border-radius: 8px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  background: #eeecff;
  border: 1px solid #4169e3;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 0px rgba(65, 105, 227, 0.8);
}
.slider::-webkit-slider-thumb:hover {
  transform: scale(1.2);
  box-shadow: 0 0 15px rgba(65, 105, 227, 1);
}

.slider::-moz-range-thumb {
  width: 22px;
  height: 22px;
  background: #eeecff;
  border: 2px solid #4169e3;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 10px rgba(65, 105, 227, 0.8);
}
.slider::-moz-range-thumb:hover {
  transform: scale(1.2);
  box-shadow: 0 0 15px rgba(65, 105, 227, 1);
}

.toggle-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #161616;
  transition: 0.4s;
  border-radius: 34px;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  background-color: #eeecff;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .toggle-slider {
  background-color: #4169e3;
}

input:checked + .toggle-slider:before {
  transform: translateX(18px);
}

/* Optional: rounded switch */
.toggle-slider.round {
  border-radius: 34px;
}


.game-setting {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  background: #00000098;
  backdrop-filter: blur(5px);
  z-index: 999999;
  display: none;
  justify-content: center;
  align-items: center;
}

.game-setting .main-box {
  position: relative;
  width: 300px;
  height: 350px;
  border-radius: 10px;
  background: rgba(17, 17, 17, 0.7);
  backdrop-filter: blur(5px);
  border: 2px solid #111111;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px 20px;
}

.game-setting .main-box .buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position: absolute;
  bottom: 20px;
  padding: 0 20px;
}

.game-setting i {
  font-size: 0.9rem;
}

.game-setting button {
  padding: 7px 17px;
  font-size: 0.9rem;
}

.game-setting .reset-btn {
  background-color: rgba(255, 0, 0, 0.5);
}

@media only screen and (min-width: 900px) {
  .score {
    top: 100px;
    left: 100px;
  }

  .right-btn,
  .left-btn {
    display: none;
  }
}

@media only screen and (max-width: 500px) {

  .play-ground {
    width: 100vw;
  }
  
  .character, .block {
    width: calc(100% / 5);
    height: calc(100vw / 4.5);
  }

  .end-screen h2 {
    font-size: max(2.5rem, 5vw);
  }

  .author-info {
    width: 80%;
  }

  .author-info p,
  .author-info a {
    font-size: 0.8rem;
  }

  .score {
    background: rgba(17, 17, 17, 0.8);
    backdrop-filter: blur(5px);
  }

}
